
{{! ----------------- Institution 1000   Project 030  French  ------------------ }}

{{#if project.p1000_030}}

<h5>Erreur 403 - Le formulaire a été manipulé.</h5>
<p>Pour plus d'informations, contactez Terry McGibbon à l'adresse suivante : tmcgi001@gold.ac.uk</p>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 020  Indian English  ------------------ }}

{{else if project.p1000_020}}

<h5>403 error - Form has been tampered with.</h5>
<p>For further information contact Terry McGibbon at tmcgi001@gold.ac.uk</p>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 010 Norwegian ------------------ }}

{{else if project.p1000_010}}

<h5>403 error - Form has been tampered with.</h5>
<p>For mer informasjon kontakt Terry McGibbon på tmcgi001@gold.ac.uk</p>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<h5>403 error - Form has been tampered with.</h5>
<p>For further information contact Terry McGibbon at tmcgi001@gold.ac.uk</p>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}

<h5>403 error - Form has been tampered with.</h5>
<p>For further information contact Terry McGibbon at tmcgi001@gold.ac.uk</p>

{{/if}}

