{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{#if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">


<h5 class="pt-3">About this research.</h5>

<p>The Forgetting Project is a research program investigating human memory and forgetting, conducted by PhD students and staff at Goldsmiths, Univeristy of London.</p>

<p>The lead researcher is currently PhD student Terry McGibbon (email: tmcgi001@gold.ac.uk), under the supervision of neuropsychologist Dr Ashok Jansari (a.jansari@gold.ac.uk).</p>

<p>The current study measures participants memory for pairs of words, tested at various delays.</p>

<p>Details of our privacy, consent and right to withdraw policy can be found <a href="/privacy">here</a>. </p>


   </div>
</div>


{{/if}}
