
<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
	     <h5 class='text-center'>Welcome back! </h5>

       	    <p  id='study' style="display: block">Thankyou for coming back for your 2nd delayed test. You will be tested on the same word pairs your learnt previously, and in the same way as before. You will be shown the first word in a pair, and asked to enter the second word.</p>
       	    <p  id='study' style="display: block">When you are ready press the button below to start.</p>
    	</div>
    </div>

    <div class="row justify-content-center pt-3">
        <div class="col-auto text-center">
           <button type="button" onclick="startTest2()" class="btn btn-primary">Start Testing</button>
        </div>
    </div>

</div>


<div class="row justify-content-center text-center pt-3">
   <div class="col-10">

<div id='studyText' style="display: none">
     <p>Wordpair to memorise:<b id='wordpair'></b> </p>
     <p> </p>
</div>

<div id='testText' style="display: none">
     <p>Type in the second word in the pair. Press Return or the Submit button to continue
          <b id='dcue'></b>:<b id='danswer'></b> </p>
     <p> </p>
</div>

<div id='feedbackCorrect' style="display: none">
     <p><span class="text-success">Correct!</span></p>
     <p>The correct wordpair is:</p>
     <p><span id='cue'>Cue word  </span> : <span id='answer'>Answer</span> </p>
</div>

<div id='feedbackIncorrect' style="display: none">
     <p><span class="text-danger">Incorrect!</span></p>
     <p>The correct wordpair is:</p>
     <p><span id='icue'>Cue word  </span> : <span id='ianswer'>Answer</span> </p>
</div>


   </div>
</div>


<form id="studyForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right" id="sCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <input type="hidden" name="_csrf" value={{_csrfToken}}>
  <div class="row justify-content-center">
    <div class="col-auto">
      <input type="text" style="width:100px;" readonly class="form-control-plaintext text-right pr-3" id="tCueWord" value="Cue word">
    </div>
    <div class="col-auto">
      <input type="text" autocomplete="off" style="width:100px;" class="form-control" id="tAnswerWord" placeholder="">
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>


<div id="postDelayedInstructions" style="display: none">
<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Delayed Test 2 Instructions</h5>
     <p>Well done! Thankyou for completing your second delayed test.</p>
     <p> You scored <span id='correctAnswers'>12</span> out of <span id='totalAnswers'>12</span>.</p>

     <p>Our records show you have now completed all stages of the study. There is nothing more to do.</p>
     <p>Thanks for your participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>
</div>

</div>