
{{! ----------------- Institution 1000   Project 010  Norwegian------------------ }}

{{#if project.p1000_010}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Videre instruksjon etter test</h5>
     <p>Du har fullført alle deler av studiet. Det er ikke noe mer du trenger å gjøre.</p>
     <p>Tusen takk for din deltakelse! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Tilbake til startside</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Test Instructions</h5>
     <p>Our records show you have now completed all stages of the study. There is nothing more to do.</p>
     <p>Thanks for your participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Test Instructions</h5>
     <p>Our records show you have now completed all stages of the study. There is nothing more to do.</p>
     <p>Thanks for your participation! </p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>

{{/if}}