
<div class="row">

   <div class="col-3">
   	<img src="/img/Mr_pipo_Learning_and_forgetting.png" class="img-fluid" alt="Responsive image of forgetting">
   </div>

   <div class="col-8">

     <h4 class="pt-3">Welcome to The Forgetting Project!</h4>

     <p>We are studying human memory and forgetting, and how this varies within the general population. If you would like to participate you just need to have a good standard of English and be aged 18 or over.
     </p>
     <p>First tell us whether you are a new participant, or a returning participant.
     </p>

     <div class="row">
     <div class="col-auto text-center pt-3">
     <a href="/learn" class="btn btn-primary" role="button">New participant</a>
     </div>

     <div class="col-auto text-center pt-3">
     <a href="/delayed" class="btn btn-primary" role="button">Returning participant</a>
     </div>

     </div>

   </div>
</div>

