
{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{#if project.p1000_020}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instructions</h5>
     <p>Your task is to remember pairs of words, and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to remember the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair and asked to enter the second word.</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>Each word pair will be tested multiple times.</li>
	 </ul>
     </p>

     <p>You will be given a practice trial to understand the test process. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the practice trial as many times as you like before starting the main part of the study.</p>

     <p>Try to work quickly, but without rushing.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>



{{! ----------------- Institution 1000   Project 010  Norwegian ------------------ }}

{{else if project.p1000_010}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instruksjoner</h5>
     <p>Din oppgave er å memorere ordpar, så vil din hukommelse for disse ordparene bli testet.</p>

     <p>Først vil du bli vist hvert ordpar i 7 sekunder. Prøv å memorere ordparene.</p>

     <p>Etter hvert ordpar har blitt vist, vil hukommelsen din for ordparene bli testet:
	 <ul> 
	   <li>Du vil bli vist det første ordet fra ett ordpar, og spurt om å skrive inn ord nummer to.</li> 
	   <li>Du vil få beskjed om ditt svar er riktig eller ikke, og det riktige svaret vil bli vist.</li> 
	   <li>Hvis du svarer feil, prøv å huske det korrekte svaret.</li> 
	   <li>Hvert ordpar vil bli testet flere ganger.</li>
	 </ul>
     </p>

     <p>For å gjøre deg trygg på prosedyren, vil en demonstrasjon følge. Demonstrasjonen vil bruke en kort liste, med bare tre ordpar. Dette er kun for å gjøre deg trygg på prosedyren, og resultatet vil ikke være en del av studie. Du kan repetere demonstrasjonen så mange ganger du vil, før du starter hoveddelen.</p>

     <p>Prøv å jobbe raskt, men uten å stresse.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Neste</a>
     </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instructions</h5>
     <p>Your task is to memorise pairs of words, and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair and asked to enter the second word.</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>Each word pair will be tested multiple times.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>Try to work quickly, but without rushing.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">


     <h5 class="pt-3">Instructions</h5>
     <p>Your task is to memorise pairs of words, and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested:
	 <ul> 
	   <li>You will be shown the first word in a pair and asked to enter the second word.</li> 
	   <li>You will be told whether your answer was correct or not, and the correct answer will be displayed.</li> 
	   <li>If you get the answer wrong please try to remember the correct answer.</li> 
	   <li>Each word pair will be tested multiple times.</li>
	 </ul>
     </p>

     <p>To familiarise you with the process there is a short demonstration. This will use a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You can repeat the demonstration as many times as you like before starting the main part of the study.</p>

     <p>Try to work quickly, but without rushing.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


{{/if}}

