
<div class="text-center">

     <h5>Instructions</h5>
     <p>You will be asked to memorise pairs of words, and then your memory for those pairs will be tested.</p>

     <p>First you will be shown each pair of words for 7 seconds. Try to memorise the pairs.</p>

     <p>After all word pairs have been shown your memory for each word pair will be tested. You will be shown the first word in a pair and asked to enter the second word. You will be told whether your answer was correct or not. Then the next word pair will be tested in the same way. Each word pair will be tested multiple times.</p>

     <p>To familarise you with the process there is a short demonstration. When you press Start we will present a short list, with only three word pairs. This is only to help you get familiar with the process; the results are not part of the study. You will have the option to repeat the demonstartion as many times as you like before starting the main part of the study.</p>

<p>When you are ready to start the demonstration press Start.</p>

</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/learn" class="btn btn-primary" role="button">Start</a>
     </div>

</div>


