<h1>Welcome. </h1>

<div id="introduction" style="display: block" class="row">
    <div class="col">
       <p  id='introduction' style="display: none">Press button to start learning!</p>
    </div>
    <div class="col-auto">
      <button type="button" onclick="startLearn()" class="btn btn-primary">Start Learning</button>
    </div>
    <div class="col-auto">
      <button type="button" onclick="startTest()" class="btn btn-primary">Start Testing</button>
    </div>
</div>

<p  id='studyText' style="display: none">Wordpair to memorise:     
    <b id='wordpair'>loading</b> </p> 

<p  id='testText' style="display: none">Provide the matching word:    
    <b id='cue'>Cue word  </b> : <b id='answer'>Answer</b> </p>

<p  id='feedbackCorrect' style="display: none">Correct: the correct wordpair is: 
    <b id='cue'>Cue word  </b> : <b id='answer'>Answer</b> </p>

<p  id='feedbackIncorrect' style="display: none">Incorrect: the correct wordpair is: 
    <b id='cue'>Cue word  </b> : <b id='answer'>Answer</b> </p>

<p  id='testOver' style="display: none">Test is complete! 
    Total learning time was: <b id='duration'>0ms</b>
    Total correct answers:  <b id='correctAnswers'>0</b>
    Total incorrect answers:  <b id='incorrectAnswers'>0</b>
</p>


<form id="studyForm" style="display: none">
  <div class="row">
    <div class="col">
      <input type="text" readonly class="form-control-plaintext" id="sCueWord" value="Cue word">
    </div>
    <div class="col">
      <input type="text" readonly class="form-control-plaintext" id="sAnswerWord" value="Answer word">
    </div>
  </div>
</form>

<form id="testForm" style="display: none">
  <div class="row">
    <div class="col">
      <input type="text" readonly class="form-control-plaintext" id="tCueWord" value="Cue word">
    </div>
    <div class="col">
      <input type="text" class="form-control" id="tAnswerWord" placeholder="Answer word">
    </div>
    <div class="col-auto">
      <button type="button" id="check" onclick="checkAnswer()" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
