<div class="row justify-content-center">
   <div class="col-10">

<h5 class="text-center pt-3">Please login to continue.</h5>


<div id="facebook" style="display: block" class="text-center">

     <a href="/auth/facebook">
     	<img border="0" alt="facebook login" src="/img/facebook_login.png" width="250" height="100">
     </a>

     <p> We use Facebook to identify participants without you needing to create an account on our system or remember another passwords. We do not view or store anything from your Facebook profile.</p>


</div>

   </div>
</div>