
<h5 class="text-center pt-5">Please login to continue.</h5>


<div id="facebook" style="display: block" class="text-center">

     <a href="/auth/facebook">
     	<img border="0" alt="facebook login" src="/img/facebook_login.png" width="250" height="100">
     </a>

</div>

