
<h1>Login to participate.</h1>


<div id="facebook" style="display: block" class="row">

     <a href="http://www.vekori.com:3000/auth/facebook">
     	<img border="0" alt="facebook login" src="/img/facebook_login.png" width="100" height="100">
     </a>

</div>

