{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{#if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Delayed Test Instructions</h5>
     <p>Thank you for completing the 30 minute test stage of our study. For the final stage we need you to come back at the same time tomorrow (so after 24 hours) to be tested one more time.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Delayed Test Instructions</h5>
     <p>Thank you for completing the 30 minute test stage of our study. For the final stage we need you to come back at the same time tomorrow (so after 24 hours) to be tested one more time.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>


{{/if}}