
<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Post Learning Instructions</h5>
     <p>Thankyou for completing the first part of the study. For the next stage we need you to come back in 30 minutes to be tested again.</p>
     <p>When you come back visit our home page and enter the site as returning participant.</p>
     <p>Please do not try to rehearse the word-pairs as that will invalidate the results of the research.</p>

</div>
</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
          <a href="/" class="btn btn-primary" role="button">Return to home page</a>
     </div>

</div>




