
<div class="text-center">

     <h5>Post Learning Instructions</h5>
     <p>Tell them what is going to happen next ...........</p>

</div>

<div class="row justify-content-center">
     <div class="col-auto text-center">
     	  <a href="/demo" class="btn btn-primary" role="button">Next</a>
     </div>

</div>


