
{{! ----------------- Institution 1000   Project 020 ------------------ }}

{{#if project.p1000_020}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Consent & Privacy Policy</h5>

     <p>The Forgetting Project studies are being conducted by Goldsmiths University of London. The lead researcher is currently PhD student Terry McGibbon, under the supervision of neuropsychologist Dr Ashok Jansari.</p>

     <h5>Current Study Description</h5>

     <p>People's ability to learn and recall new information varies with age, and is influenced by brain related conditions such as epilepsy and Alzheimer's disease. This study aims to identify how memory varies within the general population.

Participants are required to memorise pairs of words, and recall them at two later times.

This study will not cause any physical or mental harm, so you will not experience any distress whilst participating in this study.
     </p>

     <h5>Data Confidentiality</h5>

     <p>
There is complete anonymity and confidentiality of the data, which will be kept safe electronically. Your personal details such as age and gender will be personally unidentifiable and only seen by the researchers conducting the study. This information will not be shared with any other organisation, and will not be included in any report or other publications arising from the study, and only the results will be kept after the study is completed.
     </p>

     <h5>Right to withdraw</h5>

     <p>
You are not obliged to take part in this study and should not feel coerced. You are free to withdraw at any time. Should you choose to withdraw from the study you may do so without disadvantage to yourself and without any obligation to give a reason.
     </p>

     <h5>Contacts</h5>

     <p>
If you have any questions or concerns about how the study has been conducted, please contact Terry McGibbon (tmcgi001@gold.ac.uk) or Dr Ashok Jansari (a.jansari@gold.ac.uk)
     </p>

     <h5>Disclaimer</h5>

     <p>We ask participants to agree to the following disclaimer:</p>

     <p class="font-italic">I am aged 18 or over. </p>

     <p class="font-italic">I have the read the information relating to the above research study, which has explained the nature and purposes of the research, and the procedure I will be involved in.</p>

     <p class="font-italic">I understand that my involvement in this study, and particular data from this research, will remain strictly confidential. Only the researchers involved in the study will have access to identifying data. It has been explained to me what will happen to data once the research study has been completed.</p>

     <p class="font-italic">I hereby freely and fully consent to participate in the study which has been fully explained to me. Having given this consent I understand that I have the right to withdraw from the study at any time without disadvantage to myself and without being obliged to give any reason. I also understand that should I withdraw, the researcher reserves the right to use my fully anonymised data in the write-up of the study and in any further analysis that may be conducted by the researcher.</p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 010 Norwegian  ------------------ }}

{{else if project.p1000_010}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Samtykkeerklæring og personvern</h5>

     <p>Hukommelsesprosjektet blir gjennomført av Goldsmiths University of London. Ledende forsker er PhD studenten Terry McGibbon, under tilsyn av nevropsykologen Dr Ashok Jansari.</p>

     <h5>Om prosjektet </h5>

     <p>En persons evne til å lære og minnes ny informasjon varierer med alder, og blir påvirket av hjernerelaterte forhold sånn som epilepsi og Alzheimers sykdom. Prosjektets mål er å identifisere hvordan minne varierer i den generelle befolkningen. Deltakere skal memorere ordpar, og huske de ved to andre tidspunkt. Prosjektet vil ikke medføre noen fysisk eller psykisk skader, så du vil ikke oppleve noe ubehag når du deltar i prosjektet.
     </p>

     <h5>Personvern</h5>

     <p>
Det er fullstendig anonymitet og konfidensialitet av data vi samler, og det vil bli holdt sikkert elektronisk. Din personlige data som alder og kjønn vil være uidentifiserbart, og vil bare bli sett av forskerne som er ansvarlig for studie. Denne informasjonen vil ikke bli delt med andre organisasjoner, og vil ikke bli inkludert i noen rapporter eller andre publikasjoner som forekommer av prosjektet. Bare resultatet vil bli tatt være på etter prosjektet er fullført.
     </p>

     <h5>Rett til å trekke seg</h5>

     <p>
Det er frivillig å delta i prosjektet og skal ikke føles som tvang. Du kan når som helst trekke ditt samtykke. Hvis du velger å trekke deg, kan du gjøre så uten noen konsekvenser og uten å oppgi en grunn.
     </p>

     <h5>Kontakter</h5>

     <p>
Hvis du har noen spørsmål eller bekymringer om hvordan prosjektet blir gjennomført kan du ta kontakt med Terry McGibbon (tmcgi001@gold.ac.uk) eller Dr Ashok Jansari (a.jansari@gold.ac.uk)
     </p>

     <h5>Ansvarsfraskrivelse</h5>

     <p>Vi spør deltakerne om å akseptere den følgende ansvarsfraskrivelsen: </p>

     <p class="font-italic">Jeg er 18 år eller eldre.</p>

     <p class="font-italic">Jeg har lest informasjonen som relaterer til prosjektet, som har beskrevet formålet og prosedyren jeg vil være en del av. </p>

     <p class="font-italic">Jeg forstår at min deltakelse i prosjektet, og innhentet data, vil være strengt konfidensielt. Bare forskerne involvert i prosjektet vil ha tilgang til identifiserbar data. Det har blitt forklart til meg hva dataen fra prosjektet, når fullført, vil bli brukt til.</p>

     <p class="font-italic">Herved samtykker jeg til å delta i prosjektet som har blitt forklart til meg. Selv om jeg har gitt mitt samtykke forstår jeg at jeg har rett til å trekke meg fra prosjektet når som helst uten noen konsekvenser til meg selv, og uten å måtte gi en grunn. Jeg forstår også at om jeg skulle trekke meg, har forskerne reservert rett til å bruke den anonymiserte dataen i analyse og rapport.</p>

   </div>
</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Consent & Privacy Policy</h5>

     <p>The Forgetting Project studies are being conducted by Goldsmiths University of London. The lead researcher is currently PhD student Terry McGibbon, under the supervision of neuropsychologist Dr Ashok Jansari.</p>

     <h5>Current Study Description</h5>

     <p>People's ability to learn and recall new information varies with age, and is influenced by brain related conditions such as epilepsy and Alzheimer's disease. This study aims to identify how memory varies within the general population.

Participants are required to memorise pairs of words, and recall them at two later times.

This study will not cause any physical or mental harm, so you will not experience any distress whilst participating in this study.
     </p>

     <h5>Data Confidentiality</h5>

     <p>
There is complete anonymity and confidentiality of the data, which will be kept safe electronically. Your personal details such as age and gender will be personally unidentifiable and only seen by the researchers conducting the study. This information will not be shared with any other organisation, and will not be included in any report or other publications arising from the study, and only the results will be kept after the study is completed.
     </p>

     <h5>Right to withdraw</h5>

     <p>
You are not obliged to take part in this study and should not feel coerced. You are free to withdraw at any time. Should you choose to withdraw from the study you may do so without disadvantage to yourself and without any obligation to give a reason.
     </p>

     <h5>Contacts</h5>

     <p>
If you have any questions or concerns about how the study has been conducted, please contact Terry McGibbon (tmcgi001@gold.ac.uk) or Dr Ashok Jansari (a.jansari@gold.ac.uk)
     </p>

     <h5>Disclaimer</h5>

     <p>We ask participants to agree to the following disclaimer:</p>

     <p class="font-italic">I am aged 18 or over. </p>

     <p class="font-italic">I have the read the information relating to the above research study, which has explained the nature and purposes of the research, and the procedure I will be involved in.</p>

     <p class="font-italic">I understand that my involvement in this study, and particular data from this research, will remain strictly confidential. Only the researchers involved in the study will have access to identifying data. It has been explained to me what will happen to data once the research study has been completed.</p>

     <p class="font-italic">I hereby freely and fully consent to participate in the study which has been fully explained to me. Having given this consent I understand that I have the right to withdraw from the study at any time without disadvantage to myself and without being obliged to give any reason. I also understand that should I withdraw, the researcher reserves the right to use my fully anonymised data in the write-up of the study and in any further analysis that may be conducted by the researcher.</p>

   </div>
</div>


<div>
     <p>** Project p1000_002 **
     </p>

     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div class="row justify-content-center">
   <div class="col-10">

     <h5 class="pt-3">Consent & Privacy Policy</h5>

     <p>The Forgetting Project studies are being conducted by Goldsmiths University of London. The lead researcher is currently PhD student Terry McGibbon, under the supervision of neuropsychologist Dr Ashok Jansari.</p>

     <h5>Current Study Description</h5>

     <p>People's ability to learn and recall new information varies with age, and is influenced by brain related conditions such as epilepsy and Alzheimer's disease. This study aims to identify how memory varies within the general population.

Participants are required to memorise pairs of words, and recall them at two later times.

This study will not cause any physical or mental harm, so you will not experience any distress whilst participating in this study.
     </p>

     <h5>Data Confidentiality</h5>

     <p>
There is complete anonymity and confidentiality of the data, which will be kept safe electronically. Your personal details such as age and gender will be personally unidentifiable and only seen by the researchers conducting the study. This information will not be shared with any other organisation, and will not be included in any report or other publications arising from the study, and only the results will be kept after the study is completed.
     </p>

     <h5>Right to withdraw</h5>

     <p>
You are not obliged to take part in this study and should not feel coerced. You are free to withdraw at any time. Should you choose to withdraw from the study you may do so without disadvantage to yourself and without any obligation to give a reason.
     </p>

     <h5>Contacts</h5>

     <p>
If you have any questions or concerns about how the study has been conducted, please contact Terry McGibbon (tmcgi001@gold.ac.uk) or Dr Ashok Jansari (a.jansari@gold.ac.uk)
     </p>

     <h5>Disclaimer</h5>

     <p>We ask participants to agree to the following disclaimer:</p>

     <p class="font-italic">I am aged 18 or over. </p>

     <p class="font-italic">I have the read the information relating to the above research study, which has explained the nature and purposes of the research, and the procedure I will be involved in.</p>

     <p class="font-italic">I understand that my involvement in this study, and particular data from this research, will remain strictly confidential. Only the researchers involved in the study will have access to identifying data. It has been explained to me what will happen to data once the research study has been completed.</p>

     <p class="font-italic">I hereby freely and fully consent to participate in the study which has been fully explained to me. Having given this consent I understand that I have the right to withdraw from the study at any time without disadvantage to myself and without being obliged to give any reason. I also understand that should I withdraw, the researcher reserves the right to use my fully anonymised data in the write-up of the study and in any further analysis that may be conducted by the researcher.</p>

   </div>
</div>


{{/if}}