
<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate at this time. If you change your mind please come back at any time.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>


