
{{! ----------------- Institution 1000   Project 030  French ------------------ }}

{{#if project.p1000_030}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Merci pour votre intérêt dans cette recherche! </h5>
     	    <p>Nous sommes désolés que vous ne souhaitiez pas participer à cette étude. Vous avez été retiré. Vous êtes invités à revenir et participer à nos futurs études. 
            </p>

            <a href="/" class="btn btn-primary" role="button">Retourner à la page d'accueil</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_030.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 020  Indian English ------------------ }}

{{else if project.p1000_020}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_020.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 010   Norwegian ------------------ }}

{{else if project.p1000_010}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Takk for din interesse i prosjektet!</h5>
     	    <p>Vi beklager å høre at du ikke ønsker å delta i prosjektet. Din deltakelse har blitt trukket. Du er velkommen tilbake for å delta i andre studier.</p>

            <a href="/" class="btn btn-primary" role="button">Tilbake til startsiden</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_010.js"></script>
     {{/section}}
</div>


{{! ----------------- Institution 1000   Project 002 ------------------ }}

{{else if project.p1000_002}}

<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>


<div>
     {{#section "projectjs"}}
     <script src="js/p1000_002.js"></script>
     {{/section}}
</div>


{{! -- Project not specified - OR - not recognised - use default Institution 1000   Project 001--------------- }}

{{else}}


<div id="introduction" style="display: block">

    <div class="row justify-content-center pt-3">
        <div class="col-10 text-center">
            <h5 class='text-center'>Thanks for your interest in this research! </h5>
     	    <p>We are sorry you don't wish to participate in this study. You have been withdrawn. You are welcome to come back and participate in our other studies in future.</p>

            <a href="/" class="btn btn-primary" role="button">Return to home page</a>

        </div>
    </div>

</div>


{{/if}}



